.index-4 {
	background: #F5F5F5;
	padding   : 120px 0 80px;

	.slider-customer {
		.review-image {
			background: #ffffff;
			box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

			.swiper-slide {
				figure {
					figcaption {

						.content {

							.quote,
							.name,
							.office {
								left      : -20%;
								transition: 1s all ease-in-out;
							}

							.name {
								transition-delay: .2s;
							}

							.office {
								transition-delay: .4s;
							}
						}
					}
				}

				&.swiper-slide-active {
					figure {
						figcaption {
							.content {

								.quote,
								.name,
								.office {
									left: 0;
								}
							}
						}
					}
				}
			}

			figure {
				display  : flex;
				flex-wrap: wrap;

				.img {
					height: 455px;
				}

				figcaption {
					position: relative;

					.content {
						position : absolute;
						left     : 50%;
						top      : 50%;
						transform: translate(-50%, -50%);

						.quote {
							position     : relative;
							color        : #646F79;
							font-size    : 24px;
							margin-bottom: 50px;

							&:after {
								content         : '';
								position        : absolute;
								top             : -10px;
								left            : -60px;
								width           : 46px;
								height          : 37px;
								background-image: url(../assets/icons/icon-talk-01.svg);
								background-size : cover;
							}

							&:before {
								content         : '';
								position        : absolute;
								bottom          : -10px;
								right           : -40px;
								width           : 49px;
								height          : 39px;
								background-image: url(../assets/icons/icon-talk-02.svg);
								background-size : cover;
							}
						}

						.name {
							position     : relative;
							color        : #646F79;
							font-size    : 18px;
							margin-bottom: 5px;
						}

						.office {
							position   : relative;
							color      : #646F79;
							font-weight: 300;
						}
					}
				}

				.img,
				figcaption {
					-ms-flex        : 0 0 100%;
					-webkit-box-flex: 0;
					flex            : 0 0 50%;
					max-width       : 50%;
				}
			}
		}

		.thumbnail-image {
			position  : relative;
			margin-top: 25px;

			.swiper-container {
				padding-right: 1px;
			}

			figure {
				cursor: pointer;

				.img {
					height       : 65px;
					border-radius: 5px;
				}
			}

			.swiper-slide {
				border-radius: 5px;
				border       : 1px solid transparent;
				box-shadow   : 0 3px 6px transparent;
				transition   : .3s all ease-in-out;

				&.swiper-slide-thumb-active {
					border    : 1px solid #000000;
					box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				}
			}

			.swiper-button-next {
				margin-top   : 0;
				transform    : translateY(-50%);
				z-index      : 10;
				height       : 100%;
				width        : unset;
				background   : #151B26;
				border       : 2px solid #707070;
				font-size    : 14px;
				color        : #ffffff;
				border-radius: 5px;
				padding      : 0 65px 0 25px;
				user-select  : none;

				&:after {
					content         : '';
					position        : absolute;
					right           : 25px;
					top             : 50%;
					transform       : translateY(-50%);
					width           : 22px;
					height          : 22px;
					background-image: url(../assets/icons/next-slider.svg);
					background-size : cover;
					transition      : .3s all ease-in-out;
				}

				@media (min-width: 1025px) {
					&:hover {
						&:after {
							transform: translateY(-50%) scale(1.2);
						}
					}
				}
			}
		}
	}
}