.index-6 {
	padding   : 50px 0;
	background: #F5F5F5;

	.content {
		color    : #646F79;
		height   : 100%;
		overflow : hidden;
		max-width: 465px;
		margin   : 0 auto;

		span {
			font-size: 12px;
		}

		h2 {
			font-size    : 34px;
			font-weight  : 300;
			margin-bottom: 10px;
		}

		.link {
			display   : inline-block;
			margin-top: 30px;
			color     : #796EFF;
			font-size : 18px;
		}
	}

	@media (max-width: 1024.98px) {
		.container {
			.row {
				.col-lg-6 {
					&:first-child {
						order: 2;
					}

					&:last-child {
						order: 1;
					}
				}
			}
		}

		.content {
			max-width    : 100%;
			padding-right: 10px;
			padding-left : 10px;
			margin-bottom: 25px;

			h2 {
				font-size: 24px;
			}

			.link {
				margin-top: 15px;
			}
		}

		.img {
			width : 50%;
			margin: 0 auto;
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		.content {
			h2 {
				font-size: 18px;
			}

			p {
				font-size: 14px;
			}

			.link {
				font-size: 14px;
			}
		}
	}
}