section.index-1
	.container
		.content
			h1.wow.fadeInDown(data-wow-delay=".2s") Make more time for the work that matters most
			p.wow.fadeInUp(data-wow-delay=".2s") Asana is the work management platform teams use to stay focused on the goals, projects, and daily tasks that grow business.
			.ta-c.mt-10px
				a.btn.btn-view-more(href="#") Try for free