section.index-2
	.block-item
		.list-item
			-for(i=0;i<3;i++)
				.item.wow.fadeInLeft(data-wow-delay=".2s")
					h3 GET ORGANIZED
					p.lcl.lcl-5 Plan and structure work in a way that’s best for you. Set priorities and deadlines. Share details and assign tasks. All in one place. Plan and structure work in a way that’s best for you. Set priorities and deadlines. Share details and assign tasks. All in one place.Plan and structure work in a way that’s best for you. Set priorities and deadlines. Share details and assign tasks. All in one place.