section.index-3
	.container
		.row
			.col-lg-6
				.content
					h2.wow.bounceInLeft(data-wow-delay=".2s") Watch project in action
					p.wow.fadeInUp(data-wow-delay=".2s") See how your team can structure work to turn all your goals into workable plans.
			.col-lg-6
				.block-img
					.img.ov-h.isVideo
						a(data-fancybox href="https://vimeo.com/252476724")
							img.lazyload.blur-up(data-src="./assets/images/index/index-3/block-video.png", alt="ẢNH ĐẠI DIỆN VIDEO")
					.girl.wow.rotateInDownRight(data-wow-delay=".5s")
						img.lazyload.blur-up(data-src="./assets/images/index/index-3/girl.png", alt="ẢNH CÔ GÁI BÊN VIDEO")