section.index-5
	.container
		.row
			.col-lg-6.wow.flipInX(data-wow-delay=".2s")
				.img.ov-h(data-getHeight)
					img(src="./assets/images/index/index-5/item-left.png", alt="HÌNH ẢNH MINH HỌA CHỨC NĂNG CỦA WEBSITE")
			.col-lg-6.as-c
				.content(data-setHeight)
					span NEW AND NOTEWORTHY
					h2 Introducing Automation
					p Don’t waste time on tedious manual tasks. Let Automation do it for you. Simplify workflows, reduce errors, and save time for solving more important problems.
					a.link(href="#") Learn about Automation