section.index-6
	.container
		.row
			.col-lg-6
				.img.ov-h(data-getHeight)
					img.lazyload.blur-up(data-src="./assets/images/index/index-6/item-left.png", alt="HÌNH ẢNH MINH HỌA CHỨC NĂNG CỦA WEBSITE")
			.col-lg-6.as-c.wow.flipInX(data-wow-delay=".2s")
				.content(data-setHeight)
					h2 Get the Forrester Wave™ report
					p Find out why Forrester thinks collaborative work management is essential for business success—and why Asana is named a leader in the market.
					a.link(href="#") Download the report