section.index-7
	.container
		h2.wow.fadeInDown(data-wow-delay=".2s") Get better work done
		p.wow.fadeInUp(data-wow-delay=".2s") See why millions of people across 195 countries use Asana.
		.ta-c.mt-10px
			a.btn.btn-view-more(href="#") Try for free