header[data-layout="index"] {
	position  : fixed;
	top       : 0;
	left      : 0;
	width     : 100%;
	background: #ffffff;
	box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
	z-index   : 999;

	.logo {
		margin-right: 17.3px;
	}

	.nav-list {
		display    : flex;
		align-items: center;
		height     : 55px;

		.nav-item {
			margin-right: 42px;

			&:last-child {
				margin-right: 0;
			}

			.nav-link {
				font-size  : 14px;
				color      : #646F79;
				font-weight: 700;
			}
		}
	}
}