header[data-layout="index"] {
	background: #ffffff;

	.logo {
		margin-right: 17.3px;
	}

	.nav-list {
		display    : flex;
		align-items: center;
		height     : 55px;

		.nav-item {
			cursor      : pointer;
			margin-right: 42px;

			&:last-child {
				margin-right: 0;
			}

			.nav-link {
				font-size  : 14px;
				color      : #646F79;
				font-weight: 700;
			}
		}
	}
}