::-webkit-scrollbar-track {
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: #fff;
}

::-webkit-scrollbar {
	width           : 5px;
	height          : 5px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius   : 2.5px;
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: map-get($mau, main);
}

#overlay {
	opacity       : 0;
	visibility    : hidden;
	pointer-events: none;

	background-color: rgba(0, 0, 0, .8);
	width           : 100%;
	height          : 100%;
	position        : fixed;
	top             : 0;
	left            : 0;
	z-index         : 150;
	transition      : .3s all ease-in-out;

	&.active {
		opacity       : 1;
		visibility    : visible;
		pointer-events: visible;
	}
}

#block-login {
	padding: 55px 180px;
	width  : 100%;

	h2 {
		text-align   : center;
		font-size    : 50px;
		margin-bottom: 42px;
	}

	.or {
		font-size : 14px;
		position  : relative;
		background: #ffffff;
		margin    : 35px 0;
		color     : #9CA6AF;

		&:after {
			content   : '';
			position  : absolute;
			width     : 30%;
			height    : 1px;
			left      : 0;
			top       : 50%;
			transform : translateY(-50%);
			background: #9CA6AF;
		}

		&:before {
			content   : '';
			position  : absolute;
			width     : 30%;
			height    : 1px;
			right     : 0;
			top       : 50%;
			transform : translateY(-50%);
			background: #9CA6AF;
			z-index   : 1;
		}
	}

	.form-group {
		margin-bottom: 28px;

		label {
			width        : 100%;
			margin-bottom: 11px;
		}

		input {
			width        : 100%;
			border       : 1px solid #b9bdc1;
			padding      : 15px 20px;
			border-radius: 5px;
			box-shadow   : 0 0 5px rgba($color: #000000, $alpha: .16);

			&::placeholder {
				color: #D8D8D8;
			}
		}
	}
}

#block-invite {
	width        : 100%;
	padding      : 30px;
	border-radius: 10px;

	h2,
	p {
		color: #646F79;
	}

	h2 {
		font-size     : 18px;
		padding-bottom: 15px;
		border-bottom : 1px solid #dad9d9;
	}

	p {
		margin-top: 10px;
		font-size : 14px;
	}

	.block-form {
		margin-top: 25px;
	}

	.form-group {
		margin-bottom: 15px;

		label {
			width        : 100%;
			color        : #646F79;
			font-size    : 12px;
			margin-bottom: 12px;
			font-weight  : 700;
		}

		textarea {
			font-size    : 10px;
			padding      : 10px;
			width        : 100%;
			height       : 100px;
			resize       : none;
			border-radius: 5px;
			border       : 1px solid #d8d8d8;
		}

		input {
			font-size    : 10px;
			padding      : 10px;
			width        : 100%;
			resize       : none;
			border-radius: 5px;
			border       : 1px solid #d8d8d8;
		}
	}
}

body {
	&[data-layout="admin"] {
		background: #F6F8F9;

		main {
			padding-left: 245px;
			transition  : .5s all ease-in-out;
		}

		&.active {
			main {
				padding-left: 80px;
				transition  : .5s all ease-in-out;
			}

			::-webkit-scrollbar {
				display: none;
			}
		}
	}

	&.disabled {
		overflow: hidden;
	}
}

.main__inner {
	padding: 30px;

	@media (max-width: 1024.98px) {
		padding: 15px;
	}
}

.tab-container {
	.list-tab {
		.item {
			cursor: pointer;
		}
	}

	.tab-content {
		margin-top: 35px;

		.content {
			display   : none;
			opacity   : 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.tab-content {
			margin-top: 25px;
		}
	}
}

.ofcv {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width          : 100%;
	height         : 100%;
	object-fit     : contain;
	object-position: center;
	font-family    : 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear  : both;
	}
}

.lcl {
	overflow          : hidden;
	display           : -webkit-box;
	text-overflow     : ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}

	&-5 {
		-webkit-line-clamp: 5;
	}
}

.list-user {
	display    : flex;
	align-items: center;

	.user {
		background   : #646F79;
		margin-right : 10px;
		border-radius: 50%;

		&:last-child {
			margin-right: 0;
		}

		.avatar {
			width        : 22px;
			height       : 22px;
			border-radius: 50%;
		}
	}

	.add-user {
		cursor       : pointer;
		position     : relative;
		font-size    : 14px;
		padding      : 5px 10px 5px 35px;
		border       : 1px solid #646F79;
		border-radius: 25px;

		&:after {
			content         : '';
			position        : absolute;
			background-image: url(../assets/icons/add-user.svg);
			width           : 13px;
			height          : 13px;
			background-size : cover;
			left            : 10px;
			top             : 50%;
			transform       : translateY(-50%);
		}
	}
}

.card {
	padding      : 30px;
	border-radius: 10px;
	background   : #ffffff;
	box-shadow   : 0 0 6px rgba($color: #000000, $alpha: .16);
	margin       : 0 auto;
	width        : 100%;

	.card__header {
		display        : flex;
		justify-content: space-between;
		margin-bottom  : 20px;
		padding-bottom : 5px;
		border-bottom  : 1px solid #A8A8A8;
	}

	.card__header-title {
		h3 {
			font-size: 18px;
			color    : #646F79;
		}
	}

	.card__header-actions {
		.link {
			font-size: 13px;
			color    : #4EABFF;
		}
	}

	.block-list-favories,
	.block-list-recent {
		.title {
			position      : relative;
			font-size     : 18px;
			color         : #646F79;
			padding-bottom: 5px;
			border-bottom : 1px solid #A8A8A8;

			&:after {
				content          : '';
				position         : absolute;
				right            : 0;
				top              : 50%;
				transform        : translateY(-50%);
				background-image : url(../assets/icons/arrow.svg);
				background-size  : cover;
				background-repeat: no-repeat;
				width            : 12px;
				height           : 6px;
			}
		}
	}

	.block-list-favories {
		margin: 30px 0;

		.title {
			position      : relative;
			font-size     : 18px;
			color         : #646F79;
			padding-bottom: 5px;
			border-bottom : 1px solid #A8A8A8;

			&:after {
				content          : '';
				position         : absolute;
				right            : 0;
				top              : 50%;
				transform        : translateY(-50%);
				background-image : url(../assets/icons/arrow.svg);
				background-size  : cover;
				background-repeat: no-repeat;
				width            : 12px;
				height           : 6px;
			}
		}

		.list-item {
			display  : flex;
			flex-wrap: wrap;
			margin   : 15px 0;

			.item {
				margin-right: 45px;

				&:last-child {
					margin-right: 0;
				}

				.name {
					color     : #646F79;
					margin-top: 10px;
					text-align: center;
				}
			}
		}
	}

	.block-list-recent {
		.list-item {
			margin: 15px 0;

			.item {
				display       : flex;
				align-items   : center;
				margin-bottom : 15px;
				padding-bottom: 15px;
				border-bottom : 1px solid rgb(221, 221, 221);

				&:last-child {
					border-bottom: 0;
				}
			}

			.text {
				margin-left: 15px;
			}

			.name,
			.history {
				color: #646F79;
			}

			.history {
				font-size: 12px;
			}
		}
	}
}

.icon-projects {
	position     : relative;
	border-radius: 10px;

	&:after {
		content          : '';
		position         : absolute;
		width            : 50%;
		height           : 50%;
		top              : 50%;
		left             : 50%;
		transform        : translate(-50%, -50%);
		background-image : url(../assets/icons/projects.svg);
		background-size  : cover;
		background-repeat: no-repeat;
	}
}