footer{
    padding: 75px 0;
}
aside .aside-list .aside-item .list-link .link.active > a {
    background-color: rgba(255,201,139,.5);
    text-decoration: none;
}
.nav-link{
    color: #4eabff;
font-size: 15px;
}

.leader-avatar-figure
{
    border: 3px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right:10px;
    background:#fff;
}
.leader-avatar{
    -o-object-fit: cover;
-o-object-position: center;
background-size: cover;
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
font-family: 'object-fit: cover, object-position: center';
}
.group-member{
    margin-top:20px;
}
.group-member .name{
    margin-bottom:10px;
}
.group-member .list-user .user
{
    background:none;
    text-align: center;
    margin-right:20px;
}
.list-user .user .group-member-avatar {
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:auto;
}
.group-detail-tab-list{
    border-color:transparent !important;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, .16);
    margin-bottom:5px;
}
.group-detail-tab-item{
    border-color:transparent !important;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    color:rgba(141, 115, 128, 0.582);
    padding:8px 0px;
    margin-right:20px;
}
.group-detail-tab-item.active::after{
    content:"";
    position: absolute;
    bottom:-2px;
    left:50%;
    transform: translateX(-50%);
    width:70%;
    background:rgba(43, 88, 211, 0.699);
    height:2px;
    border-radius: 10px;
}
.project-possible-users-list{
    max-height:300px;
    overflow: auto;
}
.project-possible-user{
    display: flex;
    padding:5px;
}
.project-possible-user:hover{
    background:rgba(141, 115, 128, 0.144);
}
.project-possible-user span{
    line-height:40px;
    margin-left:10px;
    font-size: 14px;
    font-weight: 600;
    color:rgba(68, 49, 58, 0.582);
}
.list-user-project .user{
margin-left:10px;
}
.list-user-project .user .avatar{
    width:35px;
    height:35px;
}
.list-user-project .user img{
    display:flex;
}
.block-announcement .title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom:10px;
}
.status-button{
    border-radius:30px;
    font-size: 14px;
    font-weight: 700;
    padding:5px 15px;
    margin-left:10px;
}
.img_input{
    position: relative;
}
#chooseImgFile{
	height: 250px;
	width: 250px;
	position: absolute;
    top: 0;
    left:0;
	opacity: 0;
	cursor: pointer;
}
img#imgFile{cursor: pointer;max-width:100px;max-height:100px;}
img.imgFile{height:auto;;max-width: 100%;}
.img-fluid{
	width:100%;
	height:auto;
}
.comment-user{
    display: flex;
    align-items: baseline;
    padding-bottom:10px;
    position: relative;
}
/* .comment-user::after{
    content:'';
    position: absolute;
    width:100px;
    height:1px;
    background:rgba(128, 128, 128, 0.5);
    bottom:5px;
} */
.comment-user figure{
    width:35px;
    height:35px;
}
.comment-user span{
    margin-left:10px;
    font-weight: 600;
}
.comment-content{
    background:rgba(221, 221, 221, 0.165);
    padding:30px;
}
.link-item{
    color: #4eabff !important;
    font-size: 13px;
    cursor: pointer;
}
.link-item:hover{
    text-decoration: underline !important;
}
.header-breadcrumb{
    transition: ease-in-out .3s;
}
.header-breadcrumb a{
    color:#646f79;
    font-weight: 600;
    font-size: 14px;
}
.breadcrumb-item.active{
    color:black;
    position: relative;
}

.breadcrumb-item.active::after{
    content:'';
    position: absolute;
    bottom:-10px;
    left:50%;
    transform: translateX(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #17a2b8;
}
.user{
    position: relative;
}
/* .user:hover .delete-project-member-button{
    display:block;
    opacity: 1;
    transition: ease-in-out 1s;
} */
.delete-project-member-button{
    border-radius : 50%;
    border:none;
    background:white;
    color:red;
    position: absolute;
    border:solid 1px red;
    top:-10px;
    right:-10px;
    font-size: 10px;
    height:18px;
    width:18px;
    text-align: center;
    padding:0;
    font-weight: 600;
}

