extends _components/_layout/_layout-index.pug

block var
	- let title = 'Project Manager';
	- let bodyClass = 'index-page';

block main
	//BLOCK 1 TRANG CHỦ
	include ./_components/index/i-1
	//BLOCK 2 TRANG CHỦ
	include ./_components/index/i-2
	//BLOCK 3 TRANG CHỦ
	include ./_components/index/i-3
	//BLOCK 4 TRANG CHỦ
	include ./_components/index/i-4
	//BLOCK 5 TRANG CHỦ
	include ./_components/index/i-5
	//BLOCK 6 TRANG CHỦ
	include ./_components/index/i-6
	//BLOCK 7 TRANG CHỦ
	include ./_components/index/i-7
block scripts
