footer
	.container
		.row
			.col-lg-2
				.logo
					a(href="index.html")
						img.lazyload.blur-up(data-src="./assets/logo.svg", alt="", srcset="")
			.col-sm-6.col-md-3.col-lg-2
				.title-footer About Us
				ul.list-link-footer
					-for(i=0;i<8;i++)
						li.link
							a.lcl.lcl-1(href="#") Link
			.col-sm-6.col-md-3.col-lg-2
				.title-footer About Us
				ul.list-link-footer
					-for(i=0;i<8;i++)
						li.link
							a.lcl.lcl-1(href="#") Link
			.col-sm-6.col-md-3.col-lg-2
				.title-footer About Us
				ul.list-link-footer
					-for(i=0;i<8;i++)
						li.link
							a.lcl.lcl-1(href="#") Link
			.col-sm-6.col-md-3.col-lg-2
				.title-footer About Us
				ul.list-link-footer
					-for(i=0;i<8;i++)
						li.link
							a.lcl.lcl-1(href="#") Link
			.col-sm-6.col-md-3.col-lg-2
				.title-footer About Us
				ul.list-link-footer
					-for(i=0;i<8;i++)
						li.link
							a.lcl.lcl-1(href="#") Link
section.copy-right
	.container
		.row.no-gutters.ai-c
			.language
				a(href="#") English
			.terms-privacy
				a(href="#") Terms & Privacy
			.social-media
				ul
					li
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/twitter.svg", alt="", srcset="")
					li
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/facebook.svg", alt="", srcset="")
			.list-download
				ul
					li
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/app-store.svg", alt="", srcset="")
					li
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/google-play.svg", alt="", srcset="")