header(data-layout="admin")
	.header-right
		.accounts
			.avatar-header.item-click-dropdown
				figure.ov-h
					img.ofcv(src="./assets/images/admin/user-default.png", alt="", srcset="")
			.basic-info-accounts
				.name Administrator
				.position Quản trị viên
			.detail-info-accounts.content-dropdown
				.header-image
					.avatar-header
						figure.ov-h
							img.ofcv(src="./assets/images/admin/user-default.png", alt="", srcset="")
					.basic-info-accounts
						.name Administrator
						.position Quản trị viên
					.logout
						a(href="#").btn.btn-logout Logout
				.list-link
					.name-list TÀI KHOẢN
					.link
						a(href="#") Thông tin tài khoản
					.link
						a(href="#") Sửa thông tin tài khoản
					.link
						a(href="#") Cài đặt
					.name-list THIẾT LẬP
					.link
						a(href="#") Cài đặt chung
					.link
						a(href="#") Giao diện