header(data-layout="index")
	.container
		.row.no-gutters.ai-c
			.logo
				a(href="#")
					img.lazyload.blur-up(data-src="./assets/logo.svg", alt="", srcset="")
			.nav-list
				.nav-item
					a.nav-link(href="#") WHY LOGO?
				.nav-item
					a.nav-link(href="#") WHY LOGO?
				.nav-item
					a.nav-link(href="#") WHY LOGO?
				.nav-item
					a.nav-link(href="#") WHY LOGO?
			.nav-list.ml-at
				.nav-item
					a.nav-link(href="#") Contact Sales
				.nav-item
					a.nav-link(href="#") LOG IN
				.nav-item
					a.btn.btn-view-more(href="#") Try for free